* {
  margin: 0;
  padding: 0;
}

html {
}

body {
  font-family: 'Droid Serif', serif;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  background: #f5f5f5;
  width: 100%;
}

body.admin-bar {
  margin-top: 32px;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #999999;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  width: 0px;
  height: 0px;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/*----------MENU------------*/
.menu {
  float: left;
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0px 7.5px;
  }
  a {
    font-style: italic;
    font-size: 14px;
  }

  li:hover ul {
    display: block;
  }

  ul li ul {
    display: none;
    position: absolute;
    z-index: 9999;
    line-height: 1em;
    background: rgb(153, 153, 153) none repeat scroll 0% 0%;
    min-width: 100%;
    padding: 20px 7.5px 15px 7.5px;
    top: 70%;
    text-align: center;
    left: -10%;
  }

  ul li ul li {
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 1em;
    width: 100%;
    margin: 0px 0px 1em;
  }

  ul li ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
  }

  ul li ul li a {
    color: #fff;
    white-space: nowrap;
  }
}

.social {
  float: left;

  a {
    margin: 0 5px;
    color: #fff;
  }

  .fa {
    font-size: 16px;
    background: #cccccc;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff;
  }

  .fa.blue {
    background: #235796;
    color: #ffffff;
  }

  .fa-twitter {
  }

  .fa-facebook {
  }
}

/*----------ERRORS----------*/

.noPosts {
  text-align: center;
  background: rgba(255, 0, 0, .2);
  padding: 19px;
  border: 1px solid rgba(255, 0, 0, .6);
}

.noPostsTitle {
  color: red !important;
  font-size: 14px !important;
}

.parsley-error-list {
  display: none;
}

.parsley-error {
  box-shadow: 0 0 1px 1px red inset !important;
  outline: none;
}

/*----------HEADER----------*/

header {
  background: url('../../images/header-background.png') no-repeat center bottom #ffffff;
  width: 100%;
  float: left;


  .wrapper {
    height: 100px;
  }

  .wrapper #logo-wrapper {
    float: left;
    margin-top: 23px;
  }
}

#header-menu-wrapper {
  float: right;
  line-height: 99px;
}

/*----------BANNER----------*/

#banner {
  background: #e6e6e6;
  clear: both;
}

#banner .slider {
  height: 340px;
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.slider .slide {
  position: relative;
  height: 340px;
}

.slider .header-image {
  width: 590px;
  float: left;
  height: 340px;
  position: relative;
  overflow: hidden;
}

.slider .overlay.big {
  position: absolute;
  right: 0;
  top: 100px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 21px 14px 21px 0;
  border-color: transparent #235796 transparent transparent;
  line-height: 0px;
  _border-color: #000000 #235796 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.slider .overlay.small {
  z-index: 999;
  position: absolute;
  right: 20px;
  bottom: 0px;
  display: none;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 21px 14px 21px;
  border-color: transparent transparent #023679 transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #023679 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.slider .wp-post-image {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.slider .header-title {
  width: 370px;
  float: left;
  height: 340px;
  background: #235796;
}

.slider .header-title .title {
  width: 270px;
  color: #ffffff;
  margin: 30px 0 10px 50px;
}

.slider .header-title .barWrapper {
  width: 90%;
  margin: 15px auto 5px auto;
}

.slider .header-title .bar {
  width: 30%;
  float: left;
  height: 10px;
  margin: 0 .5% !important;
}

.slider .header-title .bar.first {
  background: red;
}

.slider .header-title .bar.second {
  background: rgba(255, 255, 255, .4);
}

.slider .header-title .sub-title {
  width: 270px;
  margin-left: 50px;
  margin-top: 15px;
  color: #cccccc;
  font-style: italic;
}

.controls *, .controls {
  transition: 0.2s;
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 102;
  left: 0;
  height: 0%;
}

.controls .circle {
  width: 60px;
  height: 98px;
  position: absolute;
  cursor: pointer;
  top: 170px;
  margin-top: -49px;
  color: #ffffff;
  text-align: center;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.controls .circle:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.controls .circle div {
  font-size: 86px;
  color: #ffffff;
}

.leftc {
  left: -60px
}

.rightc {
  right: -60px
}

.rightc div {
  left: 26px !important
}

#banner .page-header {
  height: 220px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.page-header .header-image {
  width: 50%;
  position: relative;
  float: left;
  height: 100%;
}

.page-header .img {
  float: right;
  height: 100%;
  max-width: 480px;
  width: 100%;
  position: relative;
}

.page-header .overlay.big {
  z-index: 999;
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 21px 14px 21px 0;
  border-color: transparent #235796 transparent transparent;
  line-height: 0px;
  _border-color: #000000 #235796 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.page-header .overlay.small {
  z-index: 999;
  position: absolute;
  right: 20px;
  bottom: 0px;
  display: none;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 21px 14px 21px;
  border-color: transparent transparent #023679 transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #023679 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.page-header .gradient {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 24px;
  background: #fff;
  background: -moz-linear-gradient(left, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 0) 100%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(230, 230, 230, 1)), color-stop(100%, rgba(230, 230, 230, 0))); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 0) 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 0) 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 0) 100%); /* IE10+ */

  background: linear-gradient(to right, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 0) 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#00e6e6e6', GradientType=1); /* IE6-9 */

}

.page-header .main-image {
  float: right;
  right: 0;
}

.page-header .header-title {
  position: absolute;
  right: 0px;
  width: 50%;
  background: #235796;
  height: 220px;
}

.page-header .title {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #ffffff;
  font-size: 28px;
}

/*----------CONTENT---------*/

#content {
  padding-top: 40px;
  padding-bottom: 30px;
  clear: both;
}

#content .wrapper {
}

#content .main {
  width: 100%;
  float: left;
  height: 100%;
  min-height: 100px;
}

#content .main.hasSidebar {
  width: 590px;
}

img.alignright {
  float: right;
  margin: 20px 0px 20px 25px;
  max-width: 100%;
  height: auto;
}

img.alignleft {
  float: left;
  margin: 20px 25px 20px 0px;
  max-width: 100%;
  height: auto;
}

img.aligncenter {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/*---NEWS ITEMS---*/
#page-title {
  color: #cccccc;
  margin: 0px auto 30px 0px;
}

.excerpt {
  width: 100%;
  margin-bottom: 50px;
}

.excerpt .top {
  background: #e6e6e6;
  position: relative;
}

.excerpt .top .thumb {
  width: 280px;
  float: left;
  height: 190px;
  overflow: hidden;
  position: relative;
}

.excerpt .top .thumb .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.excerpt .top .thumb .overlay .fa {
  width: 20px;
  position: absolute;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
}

.excerpt .top .thumb img {
  width: 100%;
  height: auto;
}

.excerpt .top .title {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  padding: 20px 10px 20px 20px;
  color: #235796;
  text-transform: none;
  min-width: 230px;
  max-height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.excerpt .top .title a {
  color: #235796;
}

.excerpt .top .date {
  width: 260px;
  padding: 10px 20px 10px 0px;
  text-align: right;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.excerpt .bottom {
  padding: 20px 0px 50px 0px;
  border-bottom: 2px solid #cccccc;
  line-height: 1.3em;
}

.excerpt .bottom .readmore {
  color: #235796;
}

.see-all {
  display: block;
  margin: 15px auto;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: #999999;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.news-nav {
  display: block;
  margin-bottom: 40px;
  max-width: 100%;
}

.video-wrapper {
  padding: 2%;
}

.video {
  max-width: 100%;
}

/*---SIDEBARS---*/

#content .sidebar {
  width: 320px;
  float: left;
  height: 100%;
  padding-left: 50px;
}

.sidebar-row {
  margin-bottom: 40px;
  width: 320px;
}

.sidebar-row .title {
  margin-bottom: 15px;
  color: #cccccc;
}

.sidebar-row #donate {
  display: none;
  width: 320px;
  height: 90px;
  -webkit-appearance: none;
  border: none;
  background: #ee3a43;
  color: #ffffff;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebar-row #donate:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .3);
}

.sidebar-row #district {
  width: 320px;
  height: 90px;
  -webkit-appearance: none;
  border: none;
  background: #cccccc;
  color: #ffffff;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.sidebar-row #district:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .3);
}

.sidebar-row form {
  position: relative;
}

.sidebar-row form input {
  width: 310px;
  -webkit-appearance: none;
  border: none;
  padding: 10px 0px 10px 10px;
  font-size: 18px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #cccccc;
  margin-bottom: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2) inset;
}

.sidebar-row form input.half {
  width: 148px;
  margin-right: 10px;
}

.sidebar-row form input.last {
  margin-right: 0px;
}

.sidebar-row form input[type=submit] {
  background: #235796;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  padding: 9px;
  font-style: normal;
  text-transform: uppercase;
}

.sidebar-row .fb-like-box {
  margin: 0 auto;
  display: block;
}

.sidebar-row .screen-reader-text {
  display: none
}

.sidebar-row #searchform #s {
  width: 307px;
  float: left;
}

.sidebar-row #searchform #searchsubmit {
  width: 40px;
  color: #cccccc;
  margin-left: -40px;
  background: url('../../images/search.png') no-repeat center #cccccc;
  box-shadow: none;
  border: 1px solid #bbbbbb;
  padding: 8.5px;
}

.sidebar-row .sub-title {
  color: #cccccc;
  font-size: 22px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .8);
  margin-bottom: 10px;
}

.sidebar-row ul {
  list-style-type: none;
}

.sidebar-row li {
  display: inline-block;
  width: 130px;
  padding-left: 20px;
  font-size: 14px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin-bottom: 5px;
}

.sidebar-row li a {
  color: #235796;
}

/*---PAGE PAGE---*/

.full-content {
}

.full-content .thumb {
  width: 280px;
  max-height: 280px;
  float: left;
  overflow: hidden;
  margin: 0px 25px 20px 0px;
}

.full-content .thumb img {
  width: 100%;
  height: auto;
}

.full-content img {
  max-width: 100%;
  height: auto;
}

.full-content .title {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #235796;
  text-transform: none;
  font-size: 22px;
}

.full-content .date {
  margin-top: 10px;
}

.full-content .title a {
  color: #235796;
}

.full-content p {
  margin: 10px 0px;
  line-height: 1.2em;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.full-content ul {
  padding-left: 20px;
  display: inline-block;
  line-height: 1.2em;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

/*---SEARCH PAGE---*/

.main.search {
}

.main.search #page-title {
  text-align: center;
}

.main.search form {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

.main.search form input {
  width: 310px;
  -webkit-appearance: none;
  border: none;
  padding: 10px 0px 10px 10px;
  font-size: 18px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #cccccc;
  margin-bottom: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2) inset;
}

.main.search .screen-reader-text {
  display: none
}

.main.search #searchform #s {
  width: 100%;
  float: none;
  display: inline;
  background: url('../../images/search.png') no-repeat 95% center #e9e9e9;
}

.main.search #searchform #searchsubmit {
  display: none;
  width: 40px;
  color: #cccccc;
  margin-left: -40px;
  background: url('../../images/search.png') no-repeat center #cccccc;
  box-shadow: none;
  border: 1px solid #bbbbbb;
  padding: 9px;
}

/*---FORM PAGE---*/

.main form {
  display: block;
  width: 550px;
}

.main form input {
  width: 510px;
  -webkit-appearance: none;
  border: none;
  padding: 10px 0px 10px 10px;
  font-size: 18px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #cccccc;
  margin-bottom: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2) inset;
  margin-top: 5px;
}

.main form textarea {
  width: 93%;
  max-width: 93%;
  height: 100px;
  -webkit-appearance: none;
  border: none;
  padding: 10px 0px 10px 10px;
  font-size: 18px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #cccccc;
  margin-bottom: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2) inset;
  margin-top: 5px;
}

.main form input.half {
  width: 248px;
  margin-right: 10px;
}

.main form input.last {
  margin-right: 0px;
}

.main form input[type=submit] {
  background: #235796;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  padding: 9px;
  font-style: normal;
  text-transform: uppercase;
  width: 200px;
  margin: 0 auto;
  display: block;
}

/*----------FOOTER----------*/

footer {
  background: #cccccc;
  min-height: 180px;
}

footer .wrapper {
}

#logo-wrapper-footer {
  float: left;
  margin-top: 60px;
}

#footer-menu-wrapper {
  float: right;
  line-height: 99px;
}

#footer-menu-wrapper .social .fa {
  background: #a8a8a8;
  color: #cccccc;
  box-shadow: 1px 0 1px 1px rgba(0, 0, 0, .08) inset;
  -webkit-box-shadow: 1px 0 1px 1px rgba(0, 0, 0, .08) inset;
}

#footer-credentials {
  float: right;
  width: 320px;
  margin-top: -10px;
  clear: both;
}

#paid-for {
  font-size: 10px;
  float: right;
  line-height: 22px;
  margin-right: 20px;
}

#SRG {
  display: block;
  float: right;
  width: 40px;
}

/*******************************************************************************
SPINKIT
*******************************************************************************/
.spinner {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -15px;
  display: none;
  z-index: 999;
}

.spinner > div {
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
