@media only screen and (max-width:1080px) {

	/*----------BANNER----------*/
	
	#banner .slider										{max-width:960px;}
		.slider .slide									{width:100%;height:100%;}
		.slider .header-image							{width:	61%;}
		.slider .wp-post-image							{min-height: 100%;height: auto;min-width: 100%;}
		.slider .header-title							{width:39%;}
		.slider .header-title .title					{width:73%;margin:11% 0 3.7% 18%;}
		.slider .header-title .sub-title				{width:73%;margin:6% 0 0 18%;}
		
		.leftc 											{left:0px}
		.rightc 										{right:0px}
}

@media only screen and (max-width:960px) {

	.wrapper											{width:90%;margin:0 5%;}
	
	/*----------HEADER---------*/
	
	header .wrapper										{min-height:150px;}
	
		header .wrapper #logo-wrapper					{float: none;margin: 0;display: block;text-align: center;padding: 20px 0 0 0;}
		header .wrapper #header-menu-wrapper			{float: none;margin: 0 auto;display: block;line-height: 50px;}
		header .wrapper .menu							{line-height: 20px;margin-top: 20px;float:none;}
		header .wrapper .menu ul						{text-align: center;float: none;}
		
		header .wrapper .social							{text-align: center;width: 100%;clear:both;}
		header .wrapper .social a						{margin-left:0;}
	
	/*----------BANNER----------*/
	
	#banner .slider										{width: 100%;}
		.slider:hover .controls							{width:100% !important;left:0 !important;overflow-x:visible;}
		.controls										{width:120%;left:-10%;overflow-x:hidden;}
		
		.page-header .gradient						{display:none;}
	
	/*----------CONTENT---------*/
	
	#content .main										{float:none;margin:0 auto;}
	#content .main.hasSidebar					{float:none;margin:0 auto;}
	
	/*---SIDEBARS---*/
		
	#content .sidebar									{float: none;margin: 60px auto 0 auto;padding-left: 0px;padding-top: 40px;border-top: 1px solid #ccc;width: 90%;max-width: 590px;}
	.sidebar-row											{margin: 0 auto 40px auto;}
	
}

@media only screen and (max-width:750px) {

	
		
	/*----------BANNER----------*/
		
		.page-header .title								{font-size:22px;}
		
	/*----------CONTENT---------*/
	
	#content .main										{width:90%;}
	#content .main.hasSidebar					{width:90%;}
		.main .excerpt									{width: 100%;}
			.excerpt .title								{min-width:auto;}
			
		.main .full-content								{margin-bottom: 30px;border-bottom: 1px solid #cccccc;}
	
	/*----------FOOTER----------*/

	footer												{}
		footer .wrapper									{padding-bottom: 20px;}
		
		#logo-wrapper-footer							{float: none;margin-top: 30px;text-align:center;}
		
		#footer-menu-wrapper							{float: none;line-height: 30px;margin: 20px auto;}
			#footer-menu-wrapper .menu					{float: none;}
			#footer-menu-wrapper ul						{text-align: center;float: none;}
			#footer-menu-wrapper .social				{float: none;display: block;text-align: center;margin-top: 20px;}
			#footer-menu-wrapper .social .fa			{background: #a8a8a8;color:#cccccc;box-shadow:1px 0 1px 1px rgba(0,0,0,.08) inset;-webkit-box-shadow:1px 0 1px 1px rgba(0,0,0,.08) inset;}
		
		#footer-credentials								{float: none;text-align: center;margin: 0 auto;}
			#paid-for									{float: none;margin-right:0px; max-width: 100%;}
			#SRG										{display: block;margin: 10px auto;float: none;}
		footer														{padding-top: 50px;}
}

@media only screen and (max-width:675px) {
	
	.slider .header-title .title						{font-size:20px}

	.excerpt .top .thumb								{width:100%;float:none;}

}

@media only screen and (max-width:590px) {

	
	#banner .slider										{height:auto;}
	.slider .slide										{height: 340px;}
	.slider .header-image								{width: 100%;height:200px}
	.slider .overlay.big									{display:none;}
	.slider .overlay.small									{display:block;}
	.slider .header-title								{width: 100%;height: 140px;padding-bottom:5%;}
	.slider .header-title .title						{margin: 5% 5%;width: 90%;}
	.slider .header-title .sub-title					{display:none;}
	
	#banner .page-header								{height:320px;}
		.page-header .header-image						{float: none;width: 100%;height:220px;}
		.page-header .header-title						{float: none;width: 100%;height: 100px;bottom: 0px;}
		.page-header .title								{bottom:10px;left:50%;margin-left:-45%;width:90%;font-size:18px;}
		.page-header .overlay.big							{display:none;}
		.page-header .overlay.small							{display:block;}
		.page-header .img								{max-width:100%;}
		
		
	.full-content .thumb								{float:none;width:100%;max-height:none;}
	
	img.alignright, img.alignleft, img.aligncenter		{margin: 5%;width: 90%;height: auto;float:none;}
	
	/*---FORM PAGE---*/
	
	.main form											{display:block;margin:0 auto;width:100%;}
	.main form input, .main form textarea				{width: 95%;-webkit-appearance: none;border: none;padding: 10px 0px 10px 5%;font-size: 18px;font-family: 'Droid Serif', serif;font-style: italic;color: #cccccc;margin-bottom: 10px;box-shadow: 0 0 1px 1px rgba(0,0,0,.2) inset;}
	.main form input.half								{width: 47%; margin-right:1%;}
	.main form input.last								{margin-right:0px;}
	.main form input[type=submit]						{background: #235796;font-family: 'Lato', sans-serif;color: #ffffff;padding: 9px;font-style: normal;text-transform:uppercase;}
	
	
	
}

@media only screen and (max-width:340px) {
	
	img.alignright, img.alignleft, img.aligncenter		{margin: 5%;width: 90%;height: auto;float:none;}
	
	.full-content .thumb 								{width:100%;}

	#content .sidebar									{width:275px;}
		.sidebar-row									{width:275px;}
		.sidebar-row #donate, .sidebar-row #district	{width: 275px;}
		
		.sidebar-row form input							{width: 97%;}
		.sidebar-row form input.half 					{width: 40%;margin-right: 1%;}
		.sidebar-row form input[type=submit] 			{width:53%;}
		
		.sidebar-row #searchform #s						{width:262px;}
	
}